<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpright;ht;" content="width=device-width, initial-scale=1.0">
    <title>Pricing Table</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/body.css">
</head>
<body>

    <!--navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary costum_main">
        <div class="container-fluid custom_color">
          <a class="navbar-brand custom_brand" href="#">Navbar</a>
          <button class="navbar-toggler custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse custom_nav_bar" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 custom_items">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-disabled="true">Other</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--header-->
      <div class="header">
        <h1>Planos SantiCLinic</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, quos.</p>
      </div>
      <!--Page_Content-->
      <div class="page_body">
        <div class="items">
            <div class="card" id="card_standard">
                <div class="container" id="container_standard">
                    <div class="card_title">
                        <h3>Standard</h3>
                    </div>
                    <div class="card_body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Limpeza de Pele Básica</li>
                            <li class="list-group-item">Hidratação Facial</li>
                            <li class="list-group-item">Massagem Relaxante</li>
                            <li class="list-group-item">Drenagem Linfática (1 sessão)</li>
                            <li class="list-group-item">Consulta com Esteticista</li>
                            <li class="price">39,99$</li>
                        </ul>
                        <div class="buy">
                            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                              </svg></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="card_advanced">
                <div class="container" id="container_advanced">
                    <div class="card_title">
                        <h3>Advanced</h3>
                    </div>
                    <div class="card_body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Todos os serviços do Plano Standard</li>
                            <li class="list-group-item">Peeling Químico</li>
                            <li class="list-group-item">Microdermoabrasão</li>
                            <li class="list-group-item">Massagem Modeladora</li>
                            <li class="list-group-item">Drenagem Linfática (3 sessões)</li>
                            <li class="list-group-item">Aplicação de Botox (1 área)</li>
                            <li class="price">69,99$</li>
                        </ul>
                        <div class="buy">
                            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                              </svg></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="card_premium">
                <div class="container" id="container_premium">
                    <div class="card_title">
                        <h3>Premium</h3>
                    </div>
                    <div class="card_body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Todos os serviços do Plano Advanced</li>
                        <li class="list-group-item">Tratamento com Laser</li>
                        <li class="list-group-item">Preenchimento Facial (ácido hialurônico)</li>
                        <li class="list-group-item">Massagem Redutora</li>
                        <li class="list-group-item">Drenagem Linfática (5 sessões)</li>
                        <li class="list-group-item">Aplicação de Botox (2 áreas)</li>
                            <li class="price">109,99$</li>
                        </ul>
                        <div class="buy">
                            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                              </svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <!--Footer-->
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mod">
          <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-twitter-x" width="30" heigth="24"></i></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-instagram" width="30" heigth="24"></i></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-whatsapp" width="30" heigth="24"></i></a></li>
        </ul>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>