<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpright;ht;" content="width=device-width, initial-scale=1.0">
    <title>Pricing Table</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMNHEYFnu7rm5j5VIpPRda8FVgQXfCN6M4Knk0P" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/body.css">
    <link rel="stylesheet" href="../style/media.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary costum_main">
        <div class="container-fluid custom_color">
          <a class="navbar-brand custom_brand" href="#">Navbar</a>
          <button class="navbar-toggler custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse custom_nav_bar" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 custom_items">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-disabled="true">Other</a>
              </li>
            </ul>
            <a href="" class="button_sign"><button type="button" class="btn btn-primary btn-lg colorbutton">Sign In</button></a>
          </div>
        </div>
      </nav>
      <div class="header">
        <h1>PLANOS SANTICLINIC</h1>
        <div class="container">
          <p>Bem-vindo à nossa clínica de estética, onde combinamos tecnologia de ponta com um toque personalizado para realçar sua beleza natural.
          <p>Explore nossos planos exclusivos e descubra tratamentos que se encaixam perfeitamente nas suas necessidades.</p>
          <p> Sinta-se à vontade para navegar e encontrar o melhor cuidado para ti!</p></p>
        </div>
      </div>
      <div class="page_body">
        <div class="items">
            <div class="card" id="card_standard">
                <div class="container" id="container_standard">
                    <div class="card_title">
                        <h3>Standard</h3>
                    </div>
                    <div class="card_body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Limpeza de Pele Básica <span class="checkOk">✅</span></li>
                            <li class="list-group-item">Hidratação Facial <span class="checkOk">✅</span></li>
                            <li class="list-group-item">Massagem Relaxante <span class="checkOk">✅</span></li>
                            <li class="list-group-item">Drenagem Linfática (1 sessão) <span class="checkOk">✅</span></li>
                            <li class="list-group-item">Consulta com Esteticista <span class="checkOk">✅</span></li>
                            <li class="price">39,99$/Mês</li>
                        </ul>
                        <div class="buy">
                          <a href="" class="btn btn-success" >
                            <h4>Comprar</h4>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="card_advanced">
                <div class="container" id="container_advanced">
                    <div class="card_title">
                        <h3>Advanced</h3>
                    </div>
                    <div class="card_body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Todos os serviços do Plano Standard <span class="checkOk">✅</span></li>
                            <li class="list-group-item">Peeling Químico <span class="checkOk">✅</span></li>
                            <li class="list-group-item">Microdermoabrasão <span class="checkOk">✅</span></li>
                            <li class="list-group-item">Massagem Modeladora <span class="checkOk">✅</span></li>
                            <li class="list-group-item">Drenagem Linfática (3 sessões) <span class="checkOk">✅</span></li>
                            <li class="list-group-item">Aplicação de Botox (1 área) <span class="checkOk">✅</span></li>
                            <li class="price">69,99$/Mês</li>
                        </ul>
                        <div class="buy">
                          <a href="" class="btn btn-success" >
                            <h4>Comprar</h4>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="card_premium">
                <div class="container" id="container_premium">
                    <div class="card_title">
                        <h3>Premium</h3>
                    </div>
                    <div class="card_body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Todos os serviços do Plano Advanced <span class="checkOk">✅</span></li>
                        <li class="list-group-item">Tratamento com Laser <span class="checkOk">✅</span></li>
                        <li class="list-group-item">Preenchimento Facial (ácido hialurônico) <span class="checkOk">✅</span></li>
                        <li class="list-group-item">Massagem Redutora <span class="checkOk">✅</span></li>
                        <li class="list-group-item">Drenagem Linfática (5 sessões) <span class="checkOk">✅</span></li>
                        <li class="list-group-item">Aplicação de Botox (2 áreas) <span class="checkOk">✅</span></li>
                            <li class="price">109,99$/Mês</li>
                        </ul>
                        <div class="buy">
                          <a href="" class="btn btn-success" >
                            <h4>Comprar</h4>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="footer">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-0 border-top footer_color">
          <div class="col-md-4 d-flex align-items-center align_content">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <ul class="contacts">
              <li class="contactos">Contactos 📞:</li>
              <li class="nmr">+4324335656457</li>
              <li class="nmr">+436565646</li>
            </ul>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mod">
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-twitter-x color" width="30" heigth="24" style="color: #1DA1F2
            "></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-instagram color" width="30" heigth="24" style="color:#C13584"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-whatsapp color" width="30" heigth="24" style="color: #63E6BE;"></i></a></li>
          </ul>
        </footer>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>