.custom_nav_bar {
    padding: 1rem 1rem;
    width:20%; 
    display: flex;
    justify-content: flex-start;
    text-align: center;
}
.costum_main {
    padding: 0;
    margin: 0;
    border: 0;
}
.navbar-toggler .custom {
    display: flex;
}
.custom_color {
    background-color: whitesmoke; 
    margin: 0;
    border: 0;
    padding: 0;
}
.custom_brand {
    width: 20%;
    margin: 0 3%;
    font-weight:bolder;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.custom_items {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 50%;

}
.custom_items li a {

    font-size: 25px;
    font-weight:bolder;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;   
    display: flex; 
    justify-content: flex-end;
}
.button_sign {
    width: 10%;
    height: 90%;
    display: flex;
    justify-content: flex end;
}
.custom_items li a:hover {
    color: rgb(86, 218, 29);
    padding: 1rem;
}
.colorbutton {
    background-color: rgb(0, 128, 0);
}
.button_sign :hover {
    background-color: green;
    color
}